body{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}

.h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
    text-align: center;
}

#select{
    margin: 15px;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    border-radius: 10px;
    
}



/*Version Movil*/

@media screen and (min-width: 320px) {
    .switchBtn{
        background-color: aliceblue;
        margin: 5px;
        display: flex;
    }
    
   
}



/*Version Tablet*/

@media screen and (min-width:768px ) {

    .switchBtn{
        background-color: aliceblue;
        margin: 5px;
        display: flex;
    }
    .checkbox{
        border-radius: 5px;
    }
    
  
   
   

    
}

/*Dispositivos grandes*/
@media screen and (min-width: 1199px) {
    .switchBtn{
        background-color: aliceblue;
        margin: 5px;
        display: flex;
    }
    .checkbox{
        border-radius: 5px;
    }
    
    
    
   
}

